{% extends 'base.html' %}
{% block body %}
{% load bootstrap5 %}
{% load static %}
<!-- Hero Section Begin -->
<section class="hero-section">
    <div class="hero-items owl-carousel">
        <div class="single-hero-item set-bg" data-setbg="{% static 'img/hero/hero-1.jpg' %}">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <div class="hero-text">
                            <h2>Reset password</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- Hero Section End -->

<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 mx-auto">
            <h3> Reset password</h3>
            <form method="POST">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                <button type="submit" class="btn btn-primary">Login</button>
                {% endbuttons %}
            </form>
            <p><a href="{% url 'password_reset' %}">Reset password</a></p>
        </div>
    </div>
</div>
{% endblock body %}



